body{
    background:#323975; 
    width: 100vh;
    height: 100vh;
    overflow: hidden;
}
.fa-snowflake{
    color: #fff;
    position:absolute;
    top: -20px;
    animation: fall  linear forwards;

}
@keyframes fall{
    to{
        transform:translateY(105vh);
    }
}